## Wikipedia Metin ve Görsel İşleme

### Dosya Okuma

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("wiki_data.csv")
df.head()

   Unnamed: 0                                               text
0           1  Anovo\n\nAnovo (formerly A Novo) is a computer...
1           2  Battery indicator\n\nA battery indicator (also...
2           3  Bob Pease\n\nRobert Allen Pease (August 22, 19...
3           4  CAVNET\n\nCAVNET was a secure military forum w...
4           5  CLidar\n\nThe CLidar is a scientific instrumen...

In [5]:
def clean_text(df):
    df["text"] = df["text"].str.lower()
    df["text"] = df["text"].str.replace('[^\w\s]', '', regex=True)
    df["text"] = df["text"].str.replace('\d', '', regex=True)

<>:3: SyntaxWarning: invalid escape sequence '\w'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\w'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\İlayda\AppData\Local\Temp\ipykernel_4552\522211318.py:3: SyntaxWarning: invalid escape sequence '\w'
  df["text"] = df["text"].str.replace('[^\w\s]', '', regex=True)
C:\Users\İlayda\AppData\Local\Temp\ipykernel_4552\522211318.py:4: SyntaxWarning: invalid escape sequence '\d'
  df["text"] = df["text"].str.replace('\d', '', regex=True)

In [6]:
clean_text(df)

In [7]:
df.head()

   Unnamed: 0                                               text
0           1  anovo\n\nanovo formerly a novo is a computer s...
1           2  battery indicator\n\na battery indicator also ...
2           3  bob pease\n\nrobert allen pease august  â â ju...
3           4  cavnet\n\ncavnet was a secure military forum w...
4           5  clidar\n\nthe clidar is a scientific instrumen...

In [8]:
import nltk
from nltk.corpus import stopwords

In [9]:
nltk.download('stopwords')
sw = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\İlayda\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
def remove_stopwords(df, stopwords):
    df["text"] = df["text"].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords]))

In [11]:
remove_stopwords(df, sw)

In [12]:
df.head()

   Unnamed: 0                                               text
0           1  anovo anovo formerly novo computer services co...
1           2  battery indicator battery indicator also known...
2           3  bob pease robert allen pease august â â june a...
3           4  cavnet cavnet secure military forum became ope...
4           5  clidar clidar scientific instrument used measu...

In [13]:
temp_df = pd.Series(' '.join(df['text']).split()).value_counts()
temp_df

used             29403
also             22951
use              16820
one              15929
â                15769
                 ...
powertransfer        1
rockcrawling         1
truggies             1
tppn                 1
looseness            1
Name: count, Length: 180530, dtype: int64

In [14]:
drops = temp_df[temp_df <= 2000]
drops

force            1999
members          1995
function         1994
lines            1993
study            1992
                 ...
powertransfer       1
rockcrawling        1
truggies            1
tppn                1
looseness           1
Name: count, Length: 180216, dtype: int64

In [15]:
df["text"] = df["text"].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (drops)]))
df.head()

   Unnamed: 0                                               text
0           1  computer services company based founded public...
1           2  also known device information usually state im...
2           3  â â circuit design technical designed several ...
3           4  became part allows access ground used us data ...
4           5  used lower light form used light device usuall...

In [17]:
from textblob import Word

nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\İlayda\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [18]:
df['text'] = df['text'].apply(lambda x: ' '.join([Word(word).lemmatize() for word in x.split()]))
df.head()

   Unnamed: 0                                               text
0           1  computer service company based founded public ...
1           2  also known device information usually state im...
2           3  â â circuit design technical designed several ...
3           4  became part allows access ground used u data d...
4           5  used lower light form used light device usuall...

## Veriyi Görselleştirme